.top-strip {
    background-color: peru;
    /* padding: 10px;  */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    
}

.logo img {
    height: 50px;
     /* Adjust the height as needed */
}

.text1 {
    font-size: 24px;
    font-weight: 1;
}

/* .text2 {
    font-size: 16px;
    font-style: italic; 
}*/
.container {
    display: flex;
}

.text-section {
    flex: 1;
    padding: 20px;
}

.image-section {
    flex: 1;
}
.sec{
    position: relative;
    top: 4rem;
    background-color: gray;
    padding: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec button {
    border: none;
    padding: 1%;
    font-size: 110%;
    color: black;
    margin: 2%;
    border-radius: 5px;
}
footer {
    position: relative;
    top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: cadetblue;
}
h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: aliceblue;
    text-align: center;
}